@charset "UTF-8";

/*global*/
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
ul{list-style: none;}
a,a:link,a:visited{
    text-decoration: none;
    color:inherit;
}
a:hover {color: #4c10ff;}
form {margin: 2rem 0;}
form, table, table input, textarea {width: 100%;}
table{margin: 2rem auto;}
table input[type="submit"]{width:max-content;}
table th, table td{padding:.5rem;text-align: unset}
table img {max-width: 125px;}
input, textarea, select, button {padding: .5rem;}
input, button {
    -webkit-appearance: none;
    border-width: 1px;
}
input[type="button"]{width:max-content;}
input[type="button"], input[type="submit"]{
    background-color: #4c10ff;
    color: #fff;
}
input:disabled{background-color: #ddd}
em{font-style: normal}
.container{
    width: 100%;
    max-width: 800px;
    margin: 3rem auto;
}
.tx--cent {text-align: center}
.tx--right {text-align: right}

/*header*/
header {border-bottom: 1px solid #ddd;}
header a {display: block;}
.header__top, .header__top ul{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color:#fff;
}
.header__top a, .header__top span {padding: .5rem;}
header nav ul {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
header nav a {padding: 1rem;}

/* form & table */
.table--list {border-collapse: collapse;}
.table--list a:link {text-decoration: underline}
.table--list thead th {text-align: center; background-color: #000;color:#fff;}
#resultTxt {
    display: inline-block;
    width: 6rem;
}
.review-wrapper {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ddd;
    border-radius: 1rem;
}
.review__stars {color: gold;}

/* opt */
.view__opt {
    border-top: 1px dashed #ddd;
    text-align: center;
}
.view__opt a{
    display: inline-block;
    padding: .8rem 1rem;
    margin: 1rem .5rem;
    background-color: #4c10ff;
    color: #fff;
}